<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="initial-scale=1, width=device-width" />

    <link rel="stylesheet" href="/static/global.css" />
    <link rel="stylesheet" href="/static/index.css" />
      <link rel="stylesheet" href="/static/style.css" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;500;700&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,500;0,700;1,600&display=swap"
    />
    <title>Course Tweaker</title>
  </head>
  <body>
    <div class="product-detail-page">
      <section class="frame-parent">
        <div class="frame-group">
          <header class="frame-container">
            <div class="frame-wrapper">
              <div class="rectangle-parent">
                <div class="frame-child"></div>
                <div class="course-tweakr-logo-text-wrapper">
                  <h3 class="course-tweakr-logo-text">Course-Tweakr</h3>
                </div>
              </div>
            </div>
            <div class="frame-div">
              <a href="/" role="button">
              <button class="home-wrapper">
                <div class="home">Home</div>
              </button>
            </a>
            </div>

            <div class="frame-wrapper2">
              <a href="/dashboard" role="button">
                <button class="dashboard-wrapper">
                  <div class="dashboard">Dashboard</div>
                </button>
              </a>
              </div>

            <div class="frame-wrapper1">
              <a href="/static/about.html" role="button">
              <button class="about-wrapper">
                <div class="about">About Project</div>
              </button>
            </a>
            </div>
          </header>
          <div class="frame-parent1">
            <div class="course-tweakr-wrapper">
              <h1 class="course-tweakr">Course-Tweakr</h1>
            </div>
            <div class="login-signin-wrapper">
              <div class="login-signin">

                <h1 class="description">
                  Feeling overwhelmed by countless course options? Struggling to
                  find your educational fit? Look no further —> Course-Tweakr is
                  here for you!
                </h1>
              </div>
            </div>
            <div class="search-now-parent">
              <div class="search-now">
                What are you waiting for? Search your desired course now!

                  <main role="main">
    <section class="jumbotron text-center">
        <div class="container">
          <h4 class="jumbotron-heading">Enter The Name of the Course for Recommendations</h4>
            <div class="search-now">
                <form action="/" method="POST">
                    <div class="mb-3">
                        <input name="course" type="text" class="form-control" id="course">
                    </div>
                    <button type="submit" class="btn btn-primary">Recommend</button>
                </form>
            </div>
            {% if showtitle %}
            <h4 class="jumbotron-heading" style="font-weight: normal;">Recommendations for Course <span style="color: rgb(150, 59, 194); font-size: 1.5rem;">"{{coursename}}"</span> are shown below</h4>
            {% endif %}
        </div>
    </section>

    <div class="album py-5 bg-light">
        <div class="container">

            {% if showerror %}
                <div class="card text-center">
                    <div class="card-body">
                        <h5 class="card-title" style="font-weight: normal;">Special Title Treatment</h5>
                        <p class="card-text">Seems like the course for {{coursename}} is not available currently. We'll report it to the course administrator for uploading the course. :)</p>
                        <a href="/" class="btn btn-secondary">Home Page</a>
                    </div>
                </div>
            {% endif %}

            <div class="row">
                {% for course in coursemap %}
                    <div class="col-md-4">
                        <div class="card mb-4 shadow-sm">
                            <div class="card-body bg-dark">
                                <p class="card-text" style="color:white;">{{course}}</p>
                                <div class="d-flex justify-content-between align-items-center">
                                    <div class="btn-group">
                                        <a href="{{coursemap[course]}}" target="_blank" class="btn btn-outline-danger" style="color: white;">View Course</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>

        </div>
    </div>
</main>

              </div>
             <!-- <div class="frame-wrapper3">
                 <a href="/static/recommendation.html" role="button"> </a>
                <button class="search-recommendation-wrapper">
                  <div class="search-recommendation" >Search</div>
                </button> 
              </div> -->
            </div>
          </div>
        </div>

        <div class="rectangle-group">
          <div class="frame-item"></div>
          <div class="home-about-dashboard">

          <div class="frame-parent2">
            <a href="/static/form.html" role="button">
              <button class="login-wrapper">
                <div class="login">Login</div>
              </button>
            </a>
                      
            <a href="/static/form.html" role="button">
              <button class="signin-wrapper">
                <div class="signin">Sign-Up</div>
              </button>
            </a>
       
        <img
        class="image-5-icon"
        loading="lazy"
        alt=""
        src="/static/image.png"
      />
    </div>

      </section>
      <br>
      <section class="product-detail-page-inner">
        <div class="background-image-parent">
          <img
            class="background-image-icon"
            alt=""
            src="/static/Design.png"
          />

          <div class="what-does-course-tweakr-container">
            <p class="what-does-course-tweakr-provi">
              <b class="what-does-course-tweakr"
                >What does Course-Tweakr provide?</b
              >
            </p>
            <div class="new">
              <p> Course Tweaker provides a variety of features and functionalities aimed at empowering user to make 
                adjustments to their academic courses according to their 
                    specific needs and preferences.
              </p>
            </div>
  
          </div>
          <div class="frame-wrapper4">
            <div class="frame-parent3">
              <div class="frame-wrapper5">
                <div class="rectangle-container">
                  <div class="frame-inner"></div>
                  <div class="image-1-wrapper">
                    <img
                      class="image-1-icon"
                      loading="lazy"
                      alt=""
                      src="/static/cap.png"
                    />
                  </div>
                  <h3 class="personalized-course-adjustment">
                    Personalized Course Adjustment
                  </h3>
                </div>
              </div>
              <div class="group-div">
                <div class="rectangle-div"></div>
                <img
                  class="image-3-icon"
                  loading="lazy"
                  alt=""
                  src="/static/Secure.png"
                />

                <div class="secure-and-reliable-environmen-wrapper">
                  <h3 class="secure-and-reliable-container">
                    <p class="secure-and-reliable">Secure and reliable</p>
                    <p class="environment">environment</p>
                  </h3>
                </div>
              </div>
              <div class="rectangle-parent1">
                <div class="frame-child1"></div>
                <img
                  class="image-2-icon"
                  loading="lazy"
                  alt=""
                  src="/static/girl.jpg"
                />

                <h3 class="easy-to-use-container">
                  <p class="easy-to-use">Easy to use</p>
                  <p class="user-interface">user-interface</p>
                </h3>
              </div>
            </div>
          </div>
        </div>
      </section>
      <footer class="frame-footer">
        <div class="frame-wrapper6">
          <div class="frame-parent4">
            <div class="frame-parent5">

              <h2 class="medicust">Course-Tweakr</h2>
            </div>
            <div class="footer-description">
              "Course-Tweakr: Your one-stop solution for personalized course
              adjustments and expert medicine recommendations."
            </div>
          </div>
        </div>
        <div class="sections-parent">
          <h2 class="sections">Sections</h2>
          <div class="f-a-q-feedback-suggestions-con">
            <div class="home-about-dashboard1">
              <a href="/" style="color: inherit; text-decoration: none;">Home</a> <br>
              <a href="/static/about.html" style="color: inherit; text-decoration: none;">About</a> <br>
              <a href="/dashboard" style="color: inherit; text-decoration: none;">Dashboard</a>
          </div>          
          </div>
        </div>
        <div class="footerdescription">
          <h2 class="quick-links">Quick Links</h2>
          <div class="faq-feedbacksugesstions-conta">
            FAQ <br>Feedback/Suggestions <br>Contact Us
          </div>
        </div>
      </footer>
    </div>
  </body>
</html>
